*{
    padding: 0;
    margin: 0;
}

/* Header  */
.header{
    background-image: url(./image/BackgroundHeader.png);
    height: 90vh;
    display: flex;
    justify-content: space-between;
    font-family: 'Yrsa', serif;
    background-size: cover;
}
.pink-img{
    position: relative;
    height: 90vh;
    z-index: 1;
    width: 48vw;
}

.navbar{
    position: absolute;
    z-index: 1;
    top: 0;
    
}
.right-nav{
    display: flex;
    justify-content: space-around;
    width: 30vw;
    font-size: 18px;
    
}
.right-nav nav:hover{
    color: #ddd;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 44vw;
    margin-top: 2em;

}
.Sign-h{
    font-size: 18px;
    height: 4vh;
    width: 9vw;
    border-radius: 20px ;
    text-align: center;
    background-color: #F8F8F8;


}
.pink-titel{
    color: #F2435D;
}
.logo-header{
    margin-top: 2em;
    margin-bottom: 9em;

}

.pasta-header{
    position: absolute;
    z-index: 1;
    right: 200px;
    top: 65px;
    width: 40vw;

}
.content-header{
height: 35vh;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: flex-start;
}
.h1-header{
    text-align: start;
}
.h4-header{
    text-align: start;
}
.left-side{
    margin-left: 5em;
}
.btn-header{
    background-color: #F2435D;
    color: white;
    border-radius: 20px;
    height: 8vh;
    width: 7vw;
    border: solid 1px #F2435D;
}

input[type=search] { 	
	border: 2px solid #F2435D;  
    line-height: 2;     
}

#searchresponsive{
    display: none;
}





/* Menu */
.h2-menu{
    font-family: 'Italianno', cursive;
    color: #F2435D;
    font-size: 50px;
}
.h4-menu{
    font-family: 'Yrsa', serif;
    font-size: 30px;
}

.menu-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 30vh;
}
.card-recep{
    background-color: #FFF4F6;
    height: 90vh;
    /* width: 23vw; */
    width: calc(25% - 10px);
    border: solid 2px #FFF4F6;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}
.card-recep:hover{
    color: #F2435D;


}

.menu-card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.pizaa-menu{
    width: 7vw;
}
.h1-menucard{
    font-family: 'Italianno', cursive;
    font-size: 45px;
}
.p-menucard{
    font-family: 'Yrsa', serif;
    font-size: 20px;
}

.card-content {
    width: 22vw;
    height: 30vh;

}
.img-menucard1{
    width: 12vw;
}
.Boox{
    width: 8vw;
}

/* Footer */
footer{
    height: 50vh;
    background-image: url(./image/footer.png);
    margin-top: 10em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-left{
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.footer-Right{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.footer-Right{
    height: 20vh;
    width: 20vw;
}
.p-footer{
    font-size: 20px;
    color: white;
}
.logo-footer{
    width: 20vw;
}




/* Details page  */
.header2{
    background: url(./image/Header-background.png);
    height: 20vh;
    height: 60.3vh;
}

.logo-recipe{
    width: 20vw;

}
.recipe{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.recipe-nav{
    display: flex;
    color: white;
    font-family: 'Yrsa', serif;
    width: 30vw;
    justify-content: space-between;
    font-size: 17px;


 }
 .Sign-a{
    width: 7vw;
    height: 5vh;
    background-color: #F8F8F8;
    border: solid 2px #F8F8F8;
    border-radius: 25px;
    color: #F2435D;


}
.recipe-h{
    font-size: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    font-family: 'Yrsa', serif;
    color: white;


}



.list-recipe{
    display: flex;
    height: 215vh;
}
.left-list{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* height: 280vh; */
    flex-direction: column;
}
.list-pizaa{
    width: 27vw;
}
.list-pasta{
    width: 20vw;

}
.card-image-list{
    height: 50vh;
    width: 85vw;
}

.card-menu-titel{
    font-family: 'Italianno', cursive;
    font-size: 50px;
}
.card-menu-content{
    font-family: 'Yrsa', serif;
    font-size: 18px;
}
.menu-content{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    height: 40vh;
}
.btn-readnow{
    height: 5vh;
    width: 7vw;
    background-color: #F2435D;
    border: solid 2px #F2435D;
    border-radius: 5px;
}

.card-list{
    height: 50vh;
    background-color: #FFF4F6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 90%;
}
.card-list{
    display: flex;
    justify-content: space-around;
}
.right-list{
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    
    
}
.filter-category{
    width: 70%;
    height: 60vh;
    /* top: 0;
    position: sticky; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:solid 2px #FFF4F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.space{
    height: 10vh;
}

.category-f{
    height: 40vh;
    width: 15vw;
    background-color: #FFF4F6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
}
.sec-test{
    display: flex;
    justify-content: center;
}

.category-content{
    display: flex;
    justify-content: space-around;
    font-family: 'Yrsa', serif;
    font-size: 20px;
}
.h-filter{
    width: 11vw;
    height: 8vh;
    display: flex;
    justify-content: flex-end;
    font-family: 'Yrsa', serif;
    font-size: 18px;
}

.range-filter{
    width: 70%;
    height: 15vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:solid 2px #FFF4F6;
    display: flex;
    justify-content: center;
    flex-direction: column;
}




  button:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
    height: 6vh;
    width: 3vw;
    border: solid 2px #f1f1f1;
    font-size: 30px;

  }
  
  .next {
    background-color: #F2435D;
    color: white;
    height: 6vh;
    width: 3vw;
    border: solid 2px #f1f1f1;
    font-size: 30px;
  }
  
  .navigation{
    width: 90%;
    display: flex;
    justify-content: center;
  }

