*{
    padding: 0;
    margin: 0;
}

/* Header  */
.header{
    background-image: url(./image/BackgroundHeader.png);
    height: 90vh;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}
.pink-img{
    position: relative;
    height: 90vh;
    z-index: 1;
}

.navbar{
    position: absolute;
    z-index: 1;
    top: 0;
    
}
.right-nav{
    display: flex;
    justify-content: space-around;
    width: 30vw;
    font-size: 18px;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 44vw;
    margin-top: 2em;

}
.Sign-h{
    font-size: 18px;
    height: 4vh;
    width: 9vw;
    border-radius: 20px ;
    text-align: center;
    background-color: #F8F8F8;


}
.pink-titel{
    color: #F2435D;
}
.logo-header{
    margin-top: 2em;
    margin-bottom: 9em;

}

.pasta-header{
    position: absolute;
    z-index: 1;
    right: 200px;
    top: 65px;

}
.content-header{
height: 35vh;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: flex-start;
}
.h1-header{
    text-align: start;
}
.h4-header{
    text-align: start;
}
.left-side{
    margin-left: 5em;
}
.btn-header{
    background-color: #F2435D;
    color: white;
    border-radius: 20px;
    height: 8vh;
    width: 7vw;
    border: solid 1px #F2435D;
}





/* Menu */
.h2-menu{
    font-family: 'Italianno', cursive;
    color: #F2435D;
    font-size: 50px;
}
.h4-menu{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.menu-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 30vh;
}
.card-recep{
    background-color: #FFF4F6;
    height: 70vh;
    width: 23vw;
    border: solid 2px #FFF4F6;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}
.card-recep:hover{
    color: #F2435D;


}
.menu-card{
    display: flex;
    justify-content: space-around;
}
.pizaa-menu{
    width: 7vw;
}
.h1-menucard{
    font-family: 'Italianno', cursive;
    font-size: 45px;
}
.p-menucard{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.card-content{
    width: 20vw;
}
.img-menucard1{
    width: 12vw;
}
.Boox{
    width: 8vw;
}

/* Footer */
footer{
    height: 50vh;
    background-image: url(./image/footer.png);
    margin-top: 10em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-left{
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.footer-Right{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.footer-Right{
    height: 20vh;
    width: 20vw;
}
.p-footer{
    font-size: 20px;
    color: white;
}
.logo-footer{
    width: 20vw;
}




/* Details page  */
.header2{
    background: url(./image/Header-background.png);
    height: 20vh;
    height: 60.3vh;
}

.logo-recipe{
    width: 20vw;

}
.recipe{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.recipe-nav{
    display: flex;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 30vw;
    justify-content: space-between;
    font-size: 17px;


 }
 .Sign-a{
    width: 7vw;
    height: 5vh;
    background-color: #F8F8F8;
    border: solid 2px #F8F8F8;
    border-radius: 25px;
    color: #F2435D;


}
.recipe-h{
    font-size: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    font-family: 'Roboto', sans-serif;


}